<h2 class="text-danger text-center mt-3">
  <strong>投稿削除確認</strong>
</h2>

<div class="row">
  <div class="ol-lg-5 col-md-5 col-sm-12 mt-2 mb-3">
    <%= render 'admin/posts/post_confirm', post: @post %>

    <div class="col text-center">
      <%= link_to "削除する", post_path(@post.id), method: :delete, class:"btn btn-outline-danger" %>
      <p class="mt-2">削除するとマイページに移動します</p>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 ml-2">
    <h5 class="text-center">
      コメント件数：<%= @post.post_comments.count %>
    </h5>
    <% if @post.post_comments.count >= 1 %>
      <% @post.post_comments.each do |post_comment| %>
        <%= render 'admin/posts/confirm_comment', comment: post_comment %>
      <% end %>
    <% else %>
      <p class="text-center">この投稿に対するコメントはありません</p>
    <% end %>
  </div>
</div>
