<div class="card">
  <%= image_tag item.get_image(200, 200), class:"card-img-top" %>
  <div class="p-2">
    <p><%= item.name %></p>
    <p>価格：<%= item.price %>円</p>
    <p><%= item.introduction %></p>
  </div>
</div>
