<div class="row">
  <h2 class="col-lg-8 col-md-8 col-sm-8 mt-3">商品一覧</h2>

  <h4 class="col-lg-4 col-md-4 col-sm-4 mt-3">
    <%= link_to "商品登録", new_admin_item_path, class:"btn btn-success" %>
  </h4>

  <% if @items.count >= 1 %>
    <% @items.each do |item| %>
      <div class="col-lg-2 col-md-3 col-sm-4 mt-3">
        <%= link_to admin_item_path(item.id) do %>
          <%= render 'admin/items/item_index_card', item: item %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h5 class="text-center mt-4">
      商品が登録されていません<br />
      上の<strong>商品登録</strong>ボタンをクリックして<br />
      必要事項を入力し 商品登録してください
    </h5>
  <% end %>
</div>
