<div class="container">

  <h1 class="text-center mt-5">ふかふかパンへようこそ！</h1>

  <p class="text-center mt-3">
    このサイトは ふかふかパンで販売している商品や その商品に対するレビューなどを見る事ができます<br />
    会員への登録をしていただければ レビューや投稿 それらに対するコメントなどをすることもできます
  </p>
  <p class="text-center mt-4">
    このサイトは沢山の人たちに公開されています<br />
    レビューや投稿 それらに対するコメントを行う場合は 投稿する内容に十分注意してください<br />
    公序良俗に反する投稿 コメントなどが見受けられた場合は アカウントの利用停止措置を行う事があります
  </p>

</div>
