<div class="container">

  <h1 class="text-center mt-5">ふかふかパンへようこそ！</h1>

  <p class="text-center mt-3">
    ゲストログイン（閲覧用）をクリックしてログインすると<br />
    レビュー機能などの一部機能が利用できません<br />
    利用したい場合は新規登録をお願いします
  </p>

  <div class="mt-4 row">
    <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-success btn-sm btn-block col-6 mx-auto" %>
  </div>

  <div class="mt-4 row">
    <%= link_to "ログイン", new_customer_session_path, class:"btn btn-primary btn-sm btn-block col-6 mx-auto" %>
  </div>

  <div class="mt-4 row">
    <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block col-6 mx-auto", method: :post %>
  </div>
</div>
