<div class="container">

  <div>
    <%= form_with model: @review do |f| %>
      <%= f.label:"レビュー内容" %><br />
      <%= f.text_area :text %><br />
      <%= f.submit "レビュー投稿" %>
    <% end %>
  </div>

</div>
