<div class="card">
  <h6 class="card-title p-2">
    <strong><%= @post.title %></strong>
  </h6>

  <div class="card-text p-2">
    <p class="p-1"><%= @post.text %></p>
  </div>
</div>

<p class="col text-right mt-3">
  投稿日時
  <%= @post.created_at.strftime("%Y_%m/%d_%H:%M") %>
</p>

<p class="row justify-content-center text-center mt-3">
  <strong>
    この投稿に関連する情報が完全に消去されます<br />
    本当に削除してもよろしいですか？
  </strong>
</p>
