<div class="border-right border-bottom col-lg-5 col-md-6 col-sm-7 text-center pt-2">
  <%= comment.customer.nickname %>
</div>

<div class="border-bottom col-lg-4 col-md-6 col-sm-5 text-center p-2">
  <%= comment.created_at.strftime("%Y_%m/%d_%H:%M") %>
</div>
