<div class="container">

  <h2 class="mt-3">レビューコメント一覧</h2>

  <% if @review_comments.count >= 1 %>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>投稿者</th>
          <th>コメント先</th>
          <th>内容</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @review_comments.each do |comment| %>
          <tr>
            <td><%= comment.customer.nickname %></td>
            <td><%= comment.review.title %></td>
            <td><%= comment.comment %></td>
            <td><%= link_to "コメント削除", admin_review_comment_path(comment.id), method: :delete, class:"btn btn-danger btn-sm", "data-confirm" => "このコメントを削除しますか？" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h5 class="mt-3">コメントがありません</h5>
  <% end %>

</div>
